.run-head-animation-lr {
    animation: head-run-lr 20s infinite;
    width: 100%;
}

@keyframes head-run-lr {
    from {
        margin-right: 100%;
    }

    to {
        margin-left: 100%;
    }
}

.run-head-animation-rl {
    animation: head-run-rl 20s infinite;
    width: 100%;
}

@keyframes head-run-rl {
    from {
        margin-left: 100%;
    }

    to {
        margin-right: 100%;
    }
}


.img-container {
    position: relative;
    height: 160px;
}


.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.img-container:hover .img2 {
    opacity: 0.3;
}

.img-container:hover .middle {
    opacity: 1;
}

.img-text {
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    padding: 8px 5px;
}

.icon-danhmuc-fixed {
    color: red;
    border: 3px solid;
    border-color: rosybrown;
    position: fixed;
    z-index: 1;
    margin-left: -30px;
    margin-top: -15px;
    border-radius: 50%;
    background-color: #0e0e0e;
    outline: none;
}

#dashboard {
    position: fixed;
}

    #dashboard li {
        padding: 5px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

        #dashboard li:hover {
            background-color: black;
            border-top: 2px solid;
            border-bottom: 2px solid;
            cursor: pointer;
        }

    #dashboard a {
        padding: 5px;
        border-top: 1px solid;
        border-bottom: 1px solid;
    }

.dashboard {
    list-style: none;
    margin: 0;
    align-items: center;
    background-color: #222;
}



.db {
    list-style: none;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
}


.display-none {
    display: none;
}

.display-block {
    display: block;
}

.top-loading {
    background-color: red;
    border-radius: 2px;
    height: 2.5px;
    position: fixed;
    z-index: -1;
    width: 0;
}

.top-loading-show {
    visibility: visible;
    animation: top-loading-fadein 1.5s 0s;
}


@keyframes top-loading-fadein {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

    #snackbar.show {
        visibility: visible;
        -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
        animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

body {
    min-width: 1200px;
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("../Imgs/bg.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.mysearch {
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 5px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

    .mysearch:focus {
        width: 100%;
    }

.img {
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px; /* Rounded border */
    padding: 5px; /* Some padding */
    width: auto; /* Set a small width */
}

    /* Add a hover effect (blue shadow) */
    .img:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        cursor: pointer;
    }

.img2 {
    padding: 5px; /* Some padding */
    width: auto; /* Set a small width */
    position: absolute;
}

    /* Add a hover effect (blue shadow) */
    .img2:hover {
        box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        cursor: pointer;
        z-index: -1;
    }

.txtover-sm {
    white-space: nowrap;
    width: auto;
    text-overflow: ellipsis;
    overflow: hidden;
}

.txtover {
    white-space: nowrap;
    width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.txtover-tb {
    max-width: 300px;
    overflow-y: scroll;
}

.noficon-icon {
    font-weight: bold;
    color: #ffd800;
}

.noficon {
    background-color: red;
    padding: 5px;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    width: 10px;
}

.mydropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.mydropdown {
    position: relative;
    display: inline-block;
}

    .mydropdown ul {
        margin: 0;
        padding: 0;
    }

.mydropdown-content {
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
    position: absolute;
    right: 0;
    min-width: 400px;
    border-radius: 5px 0 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .mydropdown-content a {
        color: black;
        padding: 5px;
        text-decoration: none;
        display: block;
    }

    .mydropdown-content li {
        margin: 1px 5px 1px 5px;
        padding: 0;
        list-style-type: none;
    }

    .mydropdown-content a:hover {
        background-color: #f1f1f1;
        text-decoration: none;
        background-color: #4d4d4d;
        color: white;
        font-weight: bold;
    }



.mydisplay-none {
    display: none;
}

.mydisplay-block {
    display: block;
}
/*.dropdown:hover .dropdown-content {
            display: block;
        }*/

.mymodal-content {
    width: 60%;
    background-color: aliceblue;
    border: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: scroll;
}


.mymodal-content-lg {
    width: 80%;
    background-color: aliceblue;
    border: hidden;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
}

.margin {
    margin: 5px;
}

.margin-top {
    margin-top: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #555; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

    #myBtn:hover {
        background-color: #555; /* Add a dark-grey background on hover */
    }

footer {
    flex: none;
    color: white;
}

    footer a {
        color: #cecaca;
    }

        footer a:hover,
        footer a:focus {
            color: #fff;
        }

    footer h4 {
        margin-top: 32px;
    }

.footerUp {
    padding-bottom: 26px;
    background: #6f6f6f;
}

.footerDown {
    background: #525252;
}

    .footerDown p {
        margin: 16px 0px;
    }

.wrapper {
    display: flex;
    height: 100vh;
    flex-direction: column;
}
