<nav class=" navbar-inverse">
    <div class="container-fluid">
        <div class=" navbar-header col-md-2">
            <a href="#" class="icon-danhmuc  navbar-brand ">Danh mục<i class="icon-danhmuc-icon glyphicon glyphicon-chevron-right"></i></a>
        </div>
      
        <form class="form-search col-md-10" method="get" action=@Url.Action("TimKiem", "Product") autocomplete="off">

            <div class="dropdown">
                <input onkeyup="keyupsearch(this.value)" type="text" class="mysearch-1 dropdown-toggle" placeholder="Tìm kiếm" name="TuKhoa">
                <ul class="dropdown-menu" id="dropdown-menu"></ul>
            </div>
            <input type="hidden" name="page" value="1" />
            <input type="hidden" name="chon" value="1" />


        </form>
    </div>
</nav>
<style>
   
    .form-search {
        max-width: 100%;
    }

        .form-search .mysearch-1 {
            margin: 0.5%;
        }

    .mysearch-1 {
        max-width: 100%;
        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 5px;
        -webkit-transition: width 0.4s ease-in-out;
        transition: width 0.4s ease-in-out;
    }

        .mysearch-1:focus {
            width: 100%;
        }
</style>